@font-face {
   font-family: 'Hacen Tunisia';
   font-display: swap;
   src: url('file:///C:/Users/wahid/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-02-10_231904/fonts/Hacen%20Tunisia/font.ttf');
}
